[2019-04-27 15:02] i7p9h9 opened #1 "Speakers id."
Is it possible extract speakers id from your dataset to using for speaker recognition tasks?

[2019-04-27 15:09] snakers4 commented on #1
Hi,

It is possible for some smaller subsets to say that they come from one speaker. This mostly is true only for audio books.

But as a general rule - we aimed to gather as much diverse data as possible.

Now there is a field speaker set in the metadata - but it's mostly useless now.

I will think about marking some parts of the dataset as reliably having the same speaker.

On April 27, 2019 6:02

[2019-04-29 08:20] snakers4 commented on #1
We are planning to share a much larger dataset based on audio-books
Please PM me (telegram), I will share a private meta-data file, from which you could extract the data you need
We are not planning to share this data publicly yet

[2019-04-29 08:20] #1 closed, assigned to nobody

[2019-04-30 08:41] snakers4 opened #2 "Easy download script in for bash / python"
It would be nice, if someone from community would write one / a couple of scripts in bash / python, that would do the following:

- Download the dataset;
- Check md5 sums;
- Check manifests;
- Check empty / low contrast files;
- Check wav encoding (sr=16kHz, int16);

[2019-04-30 08:41] snakers4 commented on #2
Also testing links / reporting on download speed is appreciated

[2019-04-30 08:51] snakers4 commented on #1
@i7p9h9
We shared this dataset update [here](https://github.com/snakers4/open_stt/releases/tag/v0.3-alpha)

[2019-05-08 04:04] snakers4 commented on #2
Many thanks to @akreal the bash script is [there](https://github.com/snakers4/open_stt/pull/3)
Looking forward to anyone submitting anything similar in python

@akreal
Btw, you can use `aria2c` with `-x` for even faster downloads, i.e.
[code]

[2019-05-08 04:17] snakers4 opened #4 "File reading problems, mp3 release"
Just informing the users, that due to the fact that I have saved files with scipy, sometimes it throws different errors with different libraries (pydub, torchaudio) that mostly revolve around the **absense** of meta data in header.

Though not a problem for me, this will be fixed by an mp3 / torrent version of the dataset.
In the meanwhile, you can use [this](https://github.com/snakers4/open_stt/#

[2019-05-09 07:48] snakers4 commented on #4
We are receiving help from community to encode as mp3, it is surprisingly slow

So far several people confirmed that they will seed (4 nodes at least)

[2019-05-09 07:49] snakers4 opened #5 "Some benchmarks on the datasets"
Below I will post some of the results on the public part of the dataset
Both train and validation

Hope this will inspire the community to share their results and models

[2019-05-09 08:17] snakers4 commented on #5
@akreal
As you requested.
Some results of a more or less well trained model (csv+feather formats).
[share_results_1.zip](https://github.com/snakers4/open_stt/files/3160998/share_results_1.zip)

You can open the `feather` file like this
[code]

Overall, this model is not overfitted and there is no post-processing yet.

[2019-05-09 08:29] akreal commented on #5
Perfect, thank you!

[2019-05-09 09:00] snakers4 commented on #5
As you can see the model is not fully fitted yet (we are still in exploratory phase)
But it works perfectly on some easier datasets already

![image](https://user-images.githubusercontent.com/12515440/57441084-ddc36b80-7251-11e9-84cf-b65a11e09986.png)

Obviously I exclude the following datasets from the file
- private
- TTS - they are too easy, they are for diversity only
- ASR datasets - because

[2019-05-12 21:02] EgorDudyrev opened #6 "Missing text files"
Hi!

New mp3 datasets have no text files with annotations. At least it's true for russian_single, ttl_russian_addresses and voxforge datasets.

![image](https://user-images.githubusercontent.com/17860670/57587670-4db34980-7511-11e9-91aa-999962d113e0.png)

[2019-05-13 02:57] snakers4 commented on #6
While I check you can use texts from the meta-data file

[2019-05-13 03:09] snakers4 commented on #6
I checked for several additional folders
Looks like there is a problem
Anyway, while I fix it, you can just use the texts from the meta-data file

[2019-05-13 09:44] snakers4 commented on #6
I fixed this issue and
- Reuploaded the fixed links;
- Fixed the torrent;

Please post more issues if you find problems with the dataset.

[2019-05-13 09:44] #6 closed, assigned to snakers4

[2019-05-14 06:13] snakers4 opened #7 "Files with poor annotation"
I will be posting here some lists of files to be exluded from the dataset from time to time
Such lists are obtained via training models and seeping through files with higher than expected CER

[2019-05-14 07:48] snakers4 commented on #7
So far we believe that 15-20% of our files may be of poor annotation quality
We will not be excluding them from the dataset for now, but we will be posting such lists here

[2019-05-14 13:33] snakers4 commented on #7
@buriy
These are files in the file db, that most likely have poor annotation, according to my model

[bad_trainval_v03.zip](https://github.com/snakers4/open_stt/files/3177895/bad_trainval_v03.zip)
[bad_public_train_v03.zip](https://github.com/snakers4/open_stt/files/3177907/bad_public_train_v03.zip)

[2019-05-14 16:24] dimaxano opened #8 "Links to YouTube videos"
Hey! I'm working on creating russian Visual Speech Recognition dataset. So I'm very interested whether it is possible to provide links to YouTube videos that were used for creating youtube part of open_sst?

[2019-05-15 04:53] snakers4 commented on #8
Hi Dmitry!

Many thanks for your interest in our dataset.

We will never publish this information as a public part of the dataset for some reasons.

If you plain to contribute your work to public in any form, please contact us [here](mailto:open_stt@googlegroups.com) we will see what we can do.

[2019-05-15 04:53] #8 closed, assigned to nobody

[2019-05-15 05:10] snakers4 commented on #5
Now if we exclude "bad" files from [here](https://github.com/snakers4/open_stt/issues/7), we will get more interesting results.
I cannot say that all of these files have poor annotation, but the majority do.

[share_results_v02.zip](https://github.com/snakers4/open_stt/files/3180977/share_results_v02.zip)

![image](https://user-images.githubusercontent.com/12515440/57749917-be608e80-76e8-11e9-8a3a

[2019-05-15 15:26] dimaxano commented on #8
Not sure if that will be possible, but if yes, I'll contact you. Thanks!

[2019-05-17 15:16] snakers4 commented on #4
Has anyone from the first wave of downloaders compared `wav` with `mp3`?
As numbers / via model training?

[2019-05-29 03:03] snakers4 commented on #5
Almost finished collecting v05 and searching hyper-params, will be posting new benchmarks and new data soon

[2019-05-29 03:07] snakers4 commented on #4
As a standalone thing - we tested our trained model with low-quality (50 kbps) vs high-quality (160 kbps) YouTube and found very little difference.

Looks like at least 50 kbps mono is enough.
We packed mp3 with 32 kbps ...

[2019-05-29 03:08] snakers4 commented on #2
Looks like thanks to https://github.com/snakers4/open_stt/pull/9 we are covered

[2019-05-29 03:08] #2 closed, assigned to nobody

[2019-06-14 12:15] vadimkantorov commented on #7
stats by source fom `bad_trainval_v03.zip` and `bad_public_train_v03.zip`:

`bad_public_train_v03.csv`:
[code]

`bad_trainval_v03.csv`:
[code]

From both files: 518560 utterances

[2019-06-17 08:32] stefan-falk commented on #1
It would be great if the data came with dedicated directories for each speaker e.g.

[code]

because it makes sense to _separate_ speakers during training and testing. Not just for speaker recognition but also for STT tasks.

However, `open_stt` is an awesome dataset nevertheless. Are you planning on adding more languages?

[2019-06-17 08:40] snakers4 commented on #1
Hi!

Doing exactly this is not feasible unfortunately due to the nature of the dataset (zero money investment into annotation).

But we could share speakers privately as meta data for a very limited subset of data if this helps. Mostly books.

[2019-06-17 08:50] stefan-falk commented on #1
I see. Well, my workaround here is throwing everything uncertain into the `train` set and test on data which has speaker separation. E.g. the Common Voice dataset might be reliable enough.

If I may ask, what kind of word error rate (WER) did you get on the entire `open_stt` dataset? I am currently not too far below 40% (using ~3000h of the data) which is actually not as good as I expected it to b

[2019-06-30 07:28] snakers4 commented on #1
We have a small subset of the data (15 hours) manually annotated - we will be posting it soon enough

Sorry for a late reply, but please refer to a ticket #5 #7
Obviously these are not the best / latest models, but you can see some patterns in the distributions
You will see that the whole dataset is not consistent in the annotation quality, so it has / will be distilled

There have been reports th

[2019-06-30 08:54] snakers4 commented on #7
For the public - all of this is already old and should / will be updated

[2019-07-01 07:32] stefan-falk commented on #1
@snakers4 no worries :)

Thanks for sharing that information. Will take a look on those issues.

Thanks for doing all this great work and providing such an easy-to-use dataset!

[2019-07-02 04:49] snakers4 commented on #7
# New round of data distillation

A bit more detailed file pointing out files with poor annotation with some meta-data
- CER threshold;
- One of best CERs so far;

It looks like that ~2m utterances out of 7m are to be discarded this way
Pretty good yield for annotation w/o using money

To use these files note that this is a multi-part zip file
You have to change the names of the part files from *.

[2019-07-03 11:14] m1ckyro5a commented on #5
@snakers4 What model did you use for benchmark?

[2019-07-03 11:31] snakers4 commented on #5
@m1ckyro5a
wav2letter inspired fork of the fork of deep speech pytorch

[2019-07-03 12:35] m1ckyro5a commented on #5
@snakers4 How about deepspeech2? Which model is better?

[2019-07-03 12:41] snakers4 commented on #5
It is hard to tell yet
The performance now is more limited by the data for us, more than by the model
Of course we compared some models side by side (CNN, RNN) only to find that RNNs were a bit better with the same number of weight updates, but slower in general

Some benches we ran on LibriSpeech
[network_bench.xlsx](https://github.com/snakers4/open_stt/files/3354979/network_bench.xlsx)

[2019-07-05 08:42] sergeevii123 opened #10 "seeders please come back"
can't download public_youtube1120.tar.gz from torrent
the downloading process stopped at 107G no seeders to download more

[2019-07-05 08:51] snakers4 commented on #10
We are seeding
![image](https://user-images.githubusercontent.com/12515440/60710372-38f4a000-9f1b-11e9-86b5-b9b9762daa66.png)

Please try various torrent clients, sometimes transmission glitched for when when using academic torrents
Also note that some torrent clients glitch with such large files

[2019-07-05 12:22] sergeevii123 commented on #10
ok, will try another clients

[2019-07-05 12:22] #10 closed, assigned to nobody

[2019-07-05 12:31] snakers4 commented on #10
Please contact me personally in private if the issue persists

[2019-07-07 10:17] vadimkantorov commented on #7
For those looking for to download and unzip correctly these exclude files:

[code]

[2019-07-07 11:03] snakers4 commented on #7
Yeah, I guess the README.md requires some refining

[2019-07-10 17:51] buriy commented on #7
Here's the complete exclude file for v5:
https://github.com/snakers4/open_stt/releases/download/v0.5-beta/public_exclude_file_v5.tar.gz

[2019-07-10 19:39] vadimkantorov commented on #7
@buriy There are a few files less than 20Kb, among which `ru_open_stt/public_youtube700/d/a3/9a3ee5e6b4b0.wav` fails to load with `scipy.io.wavfile`. It would be nice if you could exclude them in the next update of the exclude file.

[2019-07-10 20:01] buriy commented on #7
@vadimkantorov that's a known issue: this file length is 44 bytes, which is .wav header size.
scipy.io.wavfile refuses to load empty files.
We'll look into it at some moment later.

[2019-07-10 20:08] snakers4 commented on #7
Actually this is due to really empty files but whatever)

[2019-07-11 20:38] snakers4 commented on #7
Yeah I forgot to exclude bad files for youtube_1120

[2019-07-11 20:39] snakers4 commented on #7
![image](https://media.giphy.com/media/sa12QBDglAWM8/giphy.gif)

[2019-07-12 10:39] vadimkantorov commented on #7
hope it comes online soon! :)

[2019-07-12 12:45] snakers4 commented on #7
# Exclude file for YouTube1120

Compared with previous YouTube dataset, this one is much more challenging
![image](https://user-images.githubusercontent.com/12515440/61128405-724c8300-a4ba-11e9-8ffd-09b56f99565b.png)

To be on the safe side - I would exclude all files with current CER>0.4 (for this dataset we have ~40% of such files, unlike 25-30% as before)

Such files usually fall into 3 categor

[2019-07-17 10:06] snakers4 commented on #5
I will structure the benchmark files from now a bit
- Path
- Annotation / prediction
- CER, WER
- File path in the file db

Please note that exclusion files #7  were based on this benchmarks as well previously

All charts contain CER

# Dataset benchmark v05

## File
[File](https://ru-open-stt.ams3.digitaloceanspaces.com/benchmark_v05_public.csv.zip)

## Model
CNN trained with CTC loss
Tuning with

[2019-07-17 10:07] snakers4 commented on #7
I would refer this issue here https://github.com/snakers4/open_stt/issues/5#issuecomment-512190989 for discussion

[2019-07-17 10:07] #7 closed, assigned to snakers4

[2019-07-17 10:08] snakers4 commented on #5
Also a comment - model was not over-fitted, it is selected based on optimal generalization

[2019-07-20 12:29] vadimkantorov commented on #5
https://ru-open-stt.ams3.digitaloceanspaces.com/benchmark_v05_public.csv.zip is in fact a gzip-compressed file (not a zip-compressed one), so one should decompress it with `zcat benchmark_v05_public.csv.zip > benchmark_v05_public.csv`

unzipping fails with:
[code]

after gzip-decompression the first line contains some weird stuff:
[code]

[2019-09-03 15:46] snakers4 opened #12 "Upcoming releases and support"
We are planning new cool releases sometime in future (with a twist you are not expecting), soon!

Also now you can support our initiative directly using open collective
![image](https://user-images.githubusercontent.com/12515440/64188449-20e9c000-ce7b-11e9-9a34-93bc9180986b.png)

[2019-10-15 12:47] JBloodless opened #13 "Several questions"
Hi.
1) Is there any gender separation or you didn't track this info?
2) Are any of this files clear from noise and, if so, can I easily track them?
3) Which dataset have most number of different speakers?

[2019-10-15 13:44] snakers4 commented on #13
Hi,

(1)
Did not track
We do not have proper labels for speakers in this dataset

(2)
There is an issue where I posted a bench on the dataset with CER
You can just take a subset with low CER, i.e. CER < 5%
Most likely it will be free of noise
Also note that some dataset parts, i.e. prank calls, are very noisy by definition

(3)
Hard to say, but probably radio_2 or youtube

[2019-10-15 13:45] snakers4 commented on #13
Though we are planning to apply our speaker encoders retroactively, as soon as we have trained them

[2019-10-15 14:26] JBloodless commented on #13
Ok, what `speaker_set` in public meta means? Can I believe that speakers in one set is the same (have same pitches, spectral coloration etc.)?

[2019-10-15 14:28] snakers4 commented on #13
It is the same set of speakers within the same `speaker_set`
You can believe that if speaker_set_1 != speaker_set2, then in any 2 given audios from set1 and set2 speakers will be 100% different

[2019-10-15 14:29] snakers4 commented on #13
I.e. speaker_set1 may contain N speakers
speaker_set2 may contain M speakers different from N

[2019-11-04 04:59] JRMeyer opened #14 "Question on transcriptions"
for the STT corpus, you write that some of the annotations are generated automatically and then verified.

Can you elaborate on this process?

do you have an estimate for how accurate these generated transcripts are?

[2019-11-04 05:16] snakers4 commented on #14
If you mean the TTS subset - it is generated using previous generation TTS, obviously it is 99%+ correct (the problem is with abbreviations, at that time I believe we relied on the internal normalization of the tool + some previous version of our normalization)

If you mean the ASR dataset - obviously it is ASR + some heuristics on top

[2019-11-04 05:19] buriy commented on #14
Hi Josh,

We have 18 hours of manually verified entries, these are 100% correct, with only a few rare mistakes in spelling (not segmentation):
[code]
Then, all other entries (but the generated ones from TTS subset) have about 25-40% incorrect labels (I mean, these are not 100%-correct). But we have [exclusions lists](https://github.com/snakers4/open_stt/issues/5) for the most incorrect entries, af

[2019-11-04 05:59] JRMeyer commented on #14
@snakers4 -- I was asking about ASR (aka STT)... what are the "heuristics on top"? also, now I'm curious about the TTS annotations. Was that a typo in your previous post? Are the TTS annotations made from ASR?

@buriy - same question as to Alexander, what heuristics were used for the labeling of the ASR data?

I think this is a question more people will have when they start using the corpus, and s

[2019-11-04 06:03] buriy commented on #14
Josh, we used our own alignment tool to segment ASR entries (we have the corresponding texts available), and for 3-rd party ASR output (for asr_calls), we segmented it with VAD before.
For exclusion lists, we recheck them using a Russian speech-recognition model, and examples with CER > limit are moved to exceptions.

[2019-11-04 06:14] JRMeyer commented on #14
what is the CER limit?

can you give more information on the Russian speech-recognition model used to do rechecking? What was it trained on? what kind of CER/WER does the model achieve (and on which benchmarking sets)?

[2019-11-04 06:19] snakers4 commented on #14
- I believe CER limits are posted in the above issue
- As for other filtration heuristics - I was not planning to share them
- As for TTS - it is text to speech

[2019-11-04 06:24] buriy commented on #14
Josh,
a private model was used.

[2019-11-04 06:27] JRMeyer commented on #14
@snakers4 - the more info you share, the more people will be able to use the data. It's pretty common for labeling heuristics to be published with the data. Even inter-annotator agreement is often published for hand-labeled data.

For example, I could use this dataset to both train and evaluate a model. When I look at my final WER and CER, unless I know how accurate the ground-truth labels are, I

[2019-11-04 06:37] buriy commented on #14
@JRMeyer as a Speech tech developer, you should know that CER/WER doesn't mean anything when a LM was applied (the scores are bound to a text subset it was trained at), and no-LM scores are very rarely provided.
So I believe a quick estimate should be helpful, but elaborated details won't change anything drastically.
(Like, with the dataset, you have two options after all: to use it or not.)
Also,

[2019-11-04 06:47] JRMeyer commented on #14
this conversation makes sense for the `open_stt` google group, I agree.

I appreciate the quick responses, and all the time you've put into this project.

[2019-11-04 06:47] #14 closed, assigned to nobody

[2019-11-04 06:56] snakers4 commented on #14
open_stt@googlegroups.com

[2019-11-04 10:38] #13 closed, assigned to nobody

[2019-11-04 10:38] snakers4 commented on #4
If there are problems please reopen

[2019-11-04 10:38] #4 closed, assigned to snakers4

[2019-11-07 05:20] snakers4 opened #15 "v1.0 torrent download issues"
You can download separate files via torrent. ~~Try several torrent clients if some do not work.~~ Looks like that due to large chunk size, most conversional torrent clients just fail silently. No problem (re-calculating the torrent takes much time, and some people have downloaded it already):

[code]

If you are using Windows 10, you may use Linux subsystem to run these commands.
If you are using

[2019-11-07 05:20] snakers4 commented on #15
Please re-open the issue and / or post your findings if necessary.

[2019-11-07 05:20] #15 closed, assigned to snakers4

[2019-11-11 09:22] exelents opened #16 "Неправильная контрольная сумма"
https://github.com/snakers4/open_stt/blob/379490e17b800ef9ba152d2c4011ad371a4dd9c1/md5sum.lst#L38

два раза скачал этот файл, и оба раза сумма равнялась
308e16298bdc74670d1c0124cbf4e7bb
тут либо файл не обновили на сервере, либо хеш указали старый.

[2019-11-11 09:25] snakers4 commented on #16
@islanna

[2019-11-11 09:37] Islanna commented on #16
Проверила md5sum на локальном сервере, похоже действительно по ссылке неправильный файл.
Исправим в ближайшее время.

[2019-11-11 09:39] snakers4 commented on #16
Или DO стал пережимать файлы дополнительно
Надо проверять

[2019-11-11 09:47] Islanna commented on #16
Архив верный, похоже DO пережал файлы, нужно пересчитать контрольные суммы для новых датасетов.

[2019-11-11 13:35] Islanna commented on #16
6452a3bb816ae325c51e131fceae85e039da3b18
@exelents
Пофиксили ссылку на файл

[2019-11-11 13:38] snakers4 commented on #16
открывайте если актуально

[2019-11-11 13:38] #16 closed, assigned to nobody

[2019-11-11 15:21] snakers4 commented on #16
reuploaded the file

[2019-11-15 08:40] snakers4 opened #17 "Total reformatting"
We have run some benchmarks with the `soundfile` library.
So far they seem very promising.

## OGG format benches

Compared time for several options on 10,000 samples:

- `wav` (from nvme) with `scipy.io.wavfile.read` - *~3 sec*;
- `ogg` (from nvme) with `soundfile` - *57 sec* - **best option**;
- `wav` (from hdd raid) with `scipy.io.wavfile.read`- *~3 min*;
- `ogg` (from nvme) to `wav` using `sox

[2019-11-15 08:40] snakers4 commented on #17
So the question to the community is - do you see any drawbacks with such a migration?

[2019-11-15 10:00] Islanna commented on #17
Also, we have an idea to read `mp3` from nvme, but `libsndfile` and `soundfile` lib don't support this format.
According to docs of `libsndfile`:

[2019-11-18 12:53] olesyaksyon opened #18 "Unexpected EOF of radio-v4 mp3 archive"
Hi,

I downloaded radio-v4 mp3 tar.gz from v10 release, the archive was downloaded successfully, but command

tar -xvzf radio_v4_mp3.tar.gz

ends with the mistake:

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

[2019-11-18 14:38] snakers4 commented on #18
Did you check the checksum?

[2019-11-18 16:01] olesyaksyon commented on #18
I've checked, it didn't match.

output:
f933f400494d4c883ef9bfd0f1f6ddcb
original:
7c2273a5b8c3cc10df3754dbe9c783e1

I used hashlib for check

[2019-11-18 16:13] nurtdinovadf commented on #18
@olesyaksyon did you get the same hash from multiple download attempts, or was it the only attempt?

[2019-11-18 16:14] snakers4 commented on #18
Also we used `md5sum ` for hashes (@nurtdinovadf ?)

[2019-11-18 16:25] nurtdinovadf commented on #18
@snakers4 yes, that's correct, we used ```md5sum```, i guess, it is equivalent to ```hashlib.md5```, but in some cases they can differ https://stackoverflow.com/questions/5693360/why-is-an-md5-hash-created-by-python-different-from-one-created-using-echo-and-m
@olesyaksyon could you check the hash using md5sum?

[2019-11-19 10:36] olesyaksyon commented on #18
@nurtdinovadf hi! sorry for late answer. I've checked with shell

cat radio_v4_mp3.tar.gz | md5sum
f933f400494d4c883ef9bfd0f1f6ddcb  -

now it is the same.

[2019-11-19 10:36] olesyaksyon commented on #18
but still EOF

[2019-11-19 10:59] snakers4 commented on #18
Replaced CDN links with links wo CDN
Probably this was the issue

[2019-11-19 10:59] nurtdinovadf commented on #18
@olesyaksyon I've downloaded and checked the sum, it did match with the original. However, if your host is in a country with some internet access restrictions, it may cause problems while downloading. I suggest you try to download a small sample first (radio_v4_add) and if you succeed, try to download the large archive once again. Please use updated links for all your downloads this time (https://

[2019-11-20 15:24] olesyaksyon commented on #18
now it is ok, thank you!

[2019-11-20 15:24] #18 closed, assigned to nobody

[2019-11-21 10:19] giannisginis opened #19 "Number of speakers"
Hi!...i created this issue because i am willing to know the variability of speakers in this dataset. How many are approximately the training speakers?

thanks in advance!

[2019-11-21 10:24] snakers4 commented on #19
V1.0 has around 12k unique speakers
We provide speaker labels on request

Email for contact open_stt@googlegroups.com

[2019-11-29 10:16] mikhail-barg commented on #17
It would be nice to specify the codec you are planning to use (`ogg` is just a container). I hope it would be `opus`, correct?

From our old experiments we know that `mp3` causes 1-3% WER increase even in best quality, while converting files with `opus` does not cause this degradation and even provides for 1-2% WER decrease.

[2019-11-29 10:32] snakers4 commented on #17
it is the default codec of choice but I am not sure which codec is used by `libsndfile` and `soundfile` and `soxi` by default (@Islanna you used `soxi`  to encode?)

[2019-11-29 12:25] buriy commented on #17
@mikhail-barg thanks a lot for this insight!
Have you checked opus and mp3 reading speed? An old benchmark I found shows that opus is 2x-3x slower than mp3 to decompress, and so it might not work well for training. Then it only would suit well for storing data in an intermediate compressed format.

[2019-12-11 07:37] mikhail-barg commented on #17
No, we haven't checked reading speed. Anyway it would probably depend on codec implementation and used interop library, so there would be no definite answer here.

[2019-12-11 08:10] snakers4 commented on #17
With enough CPU cores and an nvme(s) drive I believe at some point the advantages of compressed speech will overwhelm the drawbacks

Also I believe that will be definitely sticking to `.ogg` in future both for training
But that will happen during next large dataset growth phase

[2019-12-11 16:40] ec49ce opened #20 "Broken torrent file for downloading wav file"
For a WAV version of the dataset (v1.0) torrent file for downloading is damaged.
https://academictorrents.com/details/a7929f1d8108a2a6ba2785f67d722423f088e6ba

[2019-12-11 16:44] snakers4 commented on #20
The above link is for v1.0

What seems to be the exact problem?

[2019-12-11 16:51] ec49ce commented on #20
Size of torrent file is 41kB.
link to [file](https://academictorrents.com/download/a7929f1d8108a2a6ba2785f67d722423f088e6ba.torrent)

When I try to add him to utorrent - program show following error.
![2019-12-11 194653](https://user-images.githubusercontent.com/20902014/70641730-1e9fba80-1c4f-11ea-96ab-c34cddc844f8.png)

I try to download other torrent file for ver.0.5 - his size was about 6MB an

[2019-12-11 18:37] snakers4 commented on #20
https://github.com/snakers4/open_stt/#via-torrent

A recommended way to download is to use aria2

Does it work for you?

[2019-12-11 18:38] #19 closed, assigned to nobody

[2019-12-11 19:42] ec49ce commented on #20
Thank you.
everything passed good when I used aria2.

[2019-12-11 19:42] #20 closed, assigned to nobody

[2019-12-19 06:44] snakers4 commented on #17
@mikhail-barg
Dug a bit deeper in the `ogg` encoding stuff

(i)
`pysoundfile` that uses [libsoundfile ](http://www.mega-nerd.com/libsndfile/) as a backend, but this backend supports only `ogg/vorbis`, not `ogg/opus` which is a separate codec

`pysoundfile`  seems to be the only python library on the market (correct me if I am wrong) that reads `.ogg` files in-memory, which is a big deal for large

[2019-12-19 06:47] snakers4 commented on #17
@mikhail-barg
(iv)
Also is this WER dependence on format somehow related to bitrate?
Which bitrates did you use?

[2019-12-20 06:28] snakers4 commented on #17
@mikhail-barg
(v)
Also I wonder whether you tried `speex`
And which params do you use for opus, i.e. sample_rate / bitrate?

[2019-12-20 17:42] Oktai15 opened #21 "Text normalizaton"
Could you share text normalization pipeline for russian lang? I suppose you did something like this:
https://github.com/NVIDIA/NeMo/blob/f5f09838b96ab48f40d97c100fbcfc5b7f1ac59e/collections/nemo_asr/nemo_asr/parts/cleaners.py

[2019-12-20 17:45] snakers4 commented on #21
Hi,

We were planning on sharing the S2S model based on our pipeline.
We are not planning on sharing the pipeline itself.

[2019-12-23 05:07] #21 closed, assigned to nobody

[2019-12-24 14:31] 32r81b opened #22 "Can't download via torent"
@snakers4 , thank you for you job.
I find torrent client that open torrent without errors (Vuze Bittorent or Deluge), but there are no online peers :(. Or may be it is wrong behavior because 'unsupported piece size (1 GB)!'?

[2019-12-24 14:32] snakers4 commented on #22
have you tried `aria2c`?
https://github.com/snakers4/open_stt/#via-torrent

I am seeding
![image](https://user-images.githubusercontent.com/12515440/71416846-65d87300-2673-11ea-9283-c255c5f1dbb7.png)

[2019-12-25 02:55] 32r81b commented on #22
I used torrent client om Windows machine. When I use aria2 all is fine.
Thank you.

[2019-12-25 02:55] #22 closed, assigned to nobody

[2019-12-25 17:38] Oktai15 opened #23 "public_youtube700 is subset of public_youtube1200?"
Hi, @snakers4!

Public_youtube700 is subset of public_youtube1200 or they are various datasets?

and the same question about public_youtube1120_hq

[2019-12-25 21:00] snakers4 commented on #23
different

hq I believe is a small subset with a higher audio quality

[2019-12-25 21:08] Oktai15 commented on #23
@snakers4, hq is small subset of public_youtube1200/public_youtube700 or independent dataset too?

[2019-12-26 05:15] snakers4 commented on #23
To be honest I do not remember exactly
But most likely it is a version of some subset of YouTube data with higher quality

[2019-12-26 05:38] #23 closed, assigned to nobody

[2020-01-13 14:37] Oktai15 commented on #7
@buriy @snakers4

https://github.com/snakers4/open_stt/releases/download/v0.5-beta/public_exclude_file_v5.tar.gz

Both .csv files have paths from youtube_1120 dataset. What is the difference between them?

[2020-01-13 14:39] Oktai15 commented on #7
exclude_df_youtube_1120.zip has more files than public_exclude_file_v5.tar.gz or it is the same?

UPD: `grep public_youtube1120/ public_exclude_file_v5.csv | wc -l` gives 191020 lines, but `exclude_df_youtube_1120.csv` has 541872 lines

[2020-01-14 13:56] 32r81b commented on #12
Hi, @snakers4 .
I wrote little python program which convert data from unpacked datasets and prepare train, dev, test files according [Deepspeech](https://github.com/mozilla/DeepSpeech/blob/master/doc/TRAINING.rst#common-voice-training-data) format. Also programm create transcript file for preparing kenlm language model.  Is it interesting for you? May I push script to your repository?

[2020-01-14 14:26] snakers4 commented on #12
Please create a pull request

[2020-01-14 16:55] anidhi opened #24 "Ordering of the audio files."
Hi,
This might be a stupid question, but i was trying to use the radio_2 dataset and upon downloading (mp3+txt), I am having trouble understanding the order in which the audio files correlate with each other. My questions are:

1.  Are the audio files in folders continuous? And are they **alphabetically** continuous?
For e.g., if I am in folder 00, and I play an audio file 0d5d45dbfeba.mp3 and the

[2020-01-14 17:14] snakers4 commented on #24
Hi,

No

No
Their location is based on SHA1 hashes
As far as I know, cryptographic hashes are not really continuous
You may consider file location to be random

Do you mean the publicly available subset of radio + public speech?

This is a known bug of our algorithms
In this dataset it is actually already heavily mitigated

We were not planning to publish our data processing pipelines

[2020-01-15 14:47] anidhi commented on #24
Hi,
Thanks, that is helpful.
However, I am trying to work on STT translation from Russian -> X (any other language) and it would be helpful if the audio files could be continuous and not randomly arranged.
Is there an ordered dataset for this ? It is for non-commercial purpose and I will definitely provide citations and links to your work.
I am working on the radio_2 dataset (https://ru-open-stt.a

[2020-01-15 16:38] snakers4 commented on #24
Not that I know of

To be honest I cannot undestand why this matters
STT applications usually require small batched files

[2020-01-31 12:33] ixomaxip opened #25 "Q: Is there annotations for radio_v4 dataset?"
Hi, @snakers4!

I'd like to try radio_v2 dataset.

I've seen references to *.txt file in the radio_v4_manifest.csv. But I couldn't find these ones in archives radio_v4*.tar.gz.

Have this dataset any annotations?

[2020-02-02 08:31] snakers4 commented on #25
radio_v4.tar.gz
this particular file does not

[2020-02-02 08:31] #25 closed, assigned to nobody

[2020-02-02 12:13] mikhail-barg commented on #17
@snakers4 Sorry for the late answer, just noticed that your messages.

We've just used `opus` (via it's original `opusenc`/`opusdec` tools). We haven't tried `speex` and `vorbis` for these are officially inferior to `opus` at every possible combination, see [wikipedia](https://en.wikipedia.org/wiki/Opus_(audio_format)) and [this](http://opus-codec.org/comparison/).

I cannot say anything on the py

[2020-02-04 05:30] ixomaxip commented on #25
Thank you for the answer!

[2020-02-04 08:12] mikhail-barg commented on #17
We have done those experiments long ago, got the results and have been sticking to them since then. In general to make an experiment you have to have original uncompressed wavs for your corpus (that were never compressed with a lossy codec), compress those wavs with the codec of you choice, decompress back, and train the model from scratch on those decompressed wavs. So you may estimate the time r

[2020-02-04 08:16] Worldexe commented on #17
Note that bitrate 48 is for two-channel data; single channel wavs are encoded with bitrate 24.

Also, that `--no-coupling` flag may already be included in `opusenc` somehow, I just not sure what the option name is.

[2020-02-04 08:18] snakers4 commented on #17
@Islanna
is there any way to know which settings does libsndfile use?

[2020-02-04 11:15] Islanna commented on #17
Unfortunately, `libsndfile` docs lack info about the default settings for opus encoding. That's what I've managed to find out from the source code:
- Encoding/decoding via the original `libopus`; As far as I know `opusenc/dec` tools also depend on it;
- **Variable bit rate** encoding instead of constant bit rate(`--hard-cbr` option);
- Average bitrate depends on `quality` setting; I haven't found

[2020-02-17 07:53] #24 closed, assigned to nobody

[2020-02-17 07:55] snakers4 commented on #17
Our experiments also confirm that using `opus` at least for inference provides the same quality as `wav`.

[2020-02-17 07:55] #17 closed, assigned to snakers4

[2020-02-17 08:13] snakers4 commented on #12
# Current status update

**Given the current figures:**

- ~US$30 per month community support (3 backers via open collective)
- ~US$300 direct hosting fees for 16 days of February, i.e. US$500-600 per month
- Only **3 users** downloading the torrent vs. at least **100 direct downloads this month** + ~300-400 total direct downloads vs. ~10-15 total torrent downloads

And the fact that some people d

[2020-03-17 19:23] nshmyrev opened #26 "Двойные буквы и дефисы для тестовых данных"
В тестах много сдвоенных букв, вроде

[code]

а также отсутствуют дефисы, что делает результат не совсем удобночитаемым.

Предлагаю внести следующие исправления в asr_calls_2_val и public_youtube700_val

[text-youtube.txt](https://github.com/snakers4/open_stt/files/4345383/text-youtube.txt)
[text-calls.txt](https://github.com/snakers4/open_stt/files/4345385/text-calls.txt)

Могу преобразовать их в

[2020-03-18 04:51] ixomaxip commented on #26
лучше оставить исходный формат путей до файлов как в манифестах

[2020-03-18 06:06] snakers4 commented on #26
Сколько записей из скольки?

[2020-03-18 08:36] nshmyrev commented on #26
В youtube 500 из 7140：

[text.txt](https://github.com/snakers4/open_stt/files/4347839/text.txt)
[text.diff.txt](https://github.com/snakers4/open_stt/files/4347840/text.diff.txt)

[2020-03-18 09:04] snakers4 commented on #26
Спасибо

Не до конца понял, вероятно `text.txt` это уже поправленный
Если хотите, можете выложить свои diff-ы + скрипт для правки в тикет, я добавлю ссылку в README
Но в архивах пока не вижу смысла править по целому ряду причин

И да, тут нужно учитывать, это артефакт людей
То есть грубо говоря при ручной разметке всегда есть 5-6 CER тупо по дефолту
Не в дублях - так наберется в "ээээ" или "хм" ил

[2020-03-19 07:03] snakers4 commented on #26
если метрики не отличаются - то проще не запариваться

[2020-03-19 07:03] #26 closed, assigned to nobody

[2020-03-22 20:13] Advencher opened #27 "нет txt файлов в public_speech.tar.gz"
Здравствуйте, пользуюсь Вашим датасетом в учебном проекте, как видно из названия проблемы, не нашел .txt транскрипций в publich_speech.tar.gz, хотя они указаны в public_speech_manifest.csv (скачивал с торрента). При этом все wav файлы

[2020-03-22 20:13] Advencher commented on #27
wav файлы на месте

[2020-03-22 20:15] Advencher commented on #27
хотя возможно они и не должны быть аннотированы

[2020-03-22 20:19] Advencher commented on #12
Can you please share the script (i wrote my own version, but its pretty slow and unstable)
I will be so greatful

[2020-03-22 20:26] Advencher commented on #12
Can you please share the script (I wrote my own but it runs slow and dosent read Russian characters)
Я был бы очень благодарен

[2020-03-22 21:22] snakers4 commented on #27
Доступ к этой разметке даём по запросу
Для учебного проекта данных даже v0.5 избыточно на порядок

[2020-03-22 21:22] #27 closed, assigned to nobody

[2020-03-23 06:28] Advencher commented on #27
Здравствуйте, понял, благодарю

Я уже заполнил форму для учебного проекта (студент СПбГУАП).

Advencher ник на github, буду очень благодарен, если предоставите доступ,
если нужны подтверждения, что я учусь в вузе и проект связан с большой
выборкой для датасета, то все предоставлю. (обучаю Mozilla DeepSpeech)

С уважением, Архипов А. М.

On Mon, 23 Mar 2020, 00:22 Alexander Veysov, <notifications@g

[2020-03-23 06:29] buriy commented on #27
Для обучения mozilla deepspeech версии 0.5 датасета тоже вполне достаточно.

[2020-03-23 06:39] Advencher commented on #27
Да достаточно, но я также пытаюсь добиться большей точности WER, чем в
аналогичных работах (СПБГУ обучили на 35% процентов).
То есть хочу прогнать через максимальное количество часов, у меня так же
есть скрипт, который с Ютуба субтитры качает, но в связи со скорой защитой,
мне не хватает выборки.
А в public_speech заинтересован, тк deepspeech может лучше распознавать
обычную (не книжную) речь.
В о

[2020-03-23 06:43] snakers4 commented on #27
можно скачать датасет с ютуба который доступен на гугл диске по ссылке

[2020-03-23 06:55] Advencher commented on #27
Хорошо, спасибо большое за ответ и разъяснения

Если все таки появится возможность предоставить доступ к public_speech, то
буду Вам благодарен

Я просто не знал, что v1.0 это закрытая часть датасета

С уважением Архипов А. М.

On Mon, 23 Mar 2020, 09:43 Alexander Veysov, <notifications@github.com>
wrote:

[2020-03-26 09:10] Advencher commented on #27
здравствуйте, хотел указать на проблемы с wav файлами датасета v0.5 на
торренте - некоторые файлы не загружаются (youtube и audiobooks - главные
из них). возможно их уже никто не раздает.
так что в "обходную" приходится скачивать mp3 и преобразовывать их в wav,
действительно ли эти файлы не доступны на торренте или это временный баг
С уважением Архипов А. М.

пн, 23 мар. 2020 г. в 09:55, Aleks Mak

[2020-03-26 09:12] snakers4 commented on #27
торренте - некоторые файлы не загружаются (youtube и audiobooks - главные
из них). возможно их уже никто не раздает.

v0.5 не поддерживается - я подержал месяца 2 его после релиза 1.0
энное число дней назад выключил его торрент
вы можете просто взять гайд из доки по торренту
и найти нужные вам файлы в v1.0
там они отдельно

[2020-03-26 09:13] snakers4 commented on #27
mp3 были по прямой ссылке, их пока закрыли
когда  / если будем наводить порядок, сведем все ветки в opus

[2020-03-26 09:25] Advencher commented on #27
да я видимо неправильно сформулировал извиняюсь
вот этот торрент с github перед таблицей с датасетом
[image: image.png]
https://academictorrents.com/details/a7929f1d8108a2a6ba2785f67d722423f088e6ba
- то есть я пытаюсь качать архивы отсюда это и есть v1.0, но из него я
качаю то, что доступно

при этом ни ctorrent, transmission, или deluge не начинают
скачку (transmission просто вылетает без какой-л

[2020-03-26 09:30] snakers4 commented on #27
было такое
беда в том, что он очень большой
пробуйте торрент-клиент по гайду
в 99% случаев у тех у кого была такая беда помогало

[2020-03-26 09:32] Advencher commented on #27
то есть я пытаюсь прицельно скачать этот список, но безрезультатно через
разные программы:
[image: image.png]

чт, 26 мар. 2020 г. в 12:25, Aleks Maksovich <dr.advencher@gmail.com>:

[2020-03-26 10:07] snakers4 commented on #27
фотки не приходят
пробуйте aria2c

[2020-03-26 10:12] Advencher commented on #27
Хорошо, спасибо за помощь и ответы, попытаюсь с aria2c.
Ну там на фотках просто список архивов которые никак не могут начать
загружаться через торрент.

С уважением Архипов А.М.

On Thu, 26 Mar 2020, 13:08 Alexander Veysov, <notifications@github.com>
wrote:

[2020-03-28 09:08] Advencher commented on #27
Здравствуйте еще раз, извиняюсь, если отвлекаю, хотел задать последний
вопрос по поводу архивов:
Например эти архивы нужно объединить перед распаковкой? Т.к. только
gz_aa открывается (я пробовал объединить в 131гб архив с помощью cat, но
выдавал ошибку, что архив поврежден)
В общем, мне кажется, что когда я открываю gz_aa, вместе с ним открываются
и остальные
audiobooks_2.tar.gz_aa
audiobooks_2.ta

[2020-03-29 07:42] snakers4 commented on #27
здесь тяжело сказать что-то без конкретных команд которыми вы что-то делаете с файлами

[2020-03-29 07:42] snakers4 commented on #27
также я точно не помню, но кажется мы разбивали на части архивы в старых релизах

[2020-03-29 08:37] 32r81b commented on #12
Извини файл еще в разработке. Ниже ссылка на черновой вариант.
Если хочешь обрабатывать несколько больших файлов лучше параллелить.
Скрипт читает csv файл со списком исключений (public_exclude_file_v5.csv)+ читает файл по датасету (public_youtube700.csv).
Далее отбрасывает записи из public_youtube700.csv по списку public_exclude_file_v5.csv, считывает оставшиеся файлы с диска, определяет длительно

[2020-03-29 09:28] 32r81b opened #28 "Опыт применения open_stt для обучения распознавания телефонных разговоров на DeepSpeech"
Ситуация: экспериментирую с распознаванием голоса в телефонных разговорах. Исходное качество 8 кГц:
![image](https://user-images.githubusercontent.com/8361949/77844813-709f2880-71cb-11ea-86c4-bdf5687762a5.png)
Своих размеченных данных всего на 3,5 часа.

### Моя стратегия:

- Исключаю плохо размеченные записи согласно public_exclude_file_v5.csv + исключаю аудио короче 3 и длиннее 10 секунд.
- Конв

[2020-03-29 09:52] snakers4 commented on #28
Обсуждение тренировки моделей выходит за рамки цели этого репозитория.

Как правило для получения какого-то качества на каком-то домене данных нужно на порядки больше.

Вероятно для вашей валидации они просто out-of-domain.

Общий совет - пытаться делать так, чтобы данные на тесте были похожи хоть как-то на данные на трейне.

[2020-03-29 09:52] #28 closed, assigned to nobody

[2020-03-29 12:51] 32r81b commented on #27
и остальные

Необходимо скачать все файлы и распаковать командой `cat audiobooks_2.tar.gz_* | tar xvfz -`

[2020-04-08 17:35] jsdtwry commented on #1
Hi, stefan: You mentationed that you have trained ASR system on common voice russia, could you share the lastest common voice russia WER performance? I do not learn a lot about russian language, and train a russian ASR system with little 60h data with RU- common voice data, now the WER is about 40% with a chain model with kaldi toolkit even with a test set text LM, do you think it's normal? I have

[2020-04-14 12:59] snakers4 commented on #12
Academic torrents is down
Wrote to their admin to see what happens

[2020-04-14 13:14] snakers4 commented on #12
[ru_open_stt_wav_v10.zip](https://github.com/snakers4/open_stt/files/4475418/ru_open_stt_wav_v10.zip)

The torrent file
Not sure how to manually add peers yet

[2020-04-14 13:31] snakers4 commented on #12
Working on hosting the torrent elsewhere

[2020-04-14 13:39] snakers4 commented on #12
https://rutracker.org/forum/viewtopic.php?t=5880804

Not approved yet
Not sure how my client (QBittorrent) will properly support uploading via several trackers (I am a bit rusty in how torrents work under the hood on lower levels)

[2020-04-14 13:40] snakers4 commented on #12
Ppl, please seed

![image](https://user-images.githubusercontent.com/12515440/79231394-a6e8d300-7e6e-11ea-8d9b-7a998bb8ecc2.png)

[2020-04-14 13:41] snakers4 commented on #12
My upload speed is 20-30 MiB/s, so it definitely works

[2020-04-14 13:47] snakers4 commented on #12
also a magnet until the rutracker page gets approved

magnet:?xt=urn:btih:A7929F1D8108A2A6BA2785F67D722423F088E6BA&tr=http%3A%2F%2Fbt3.t-ru.org%2Fann%3Fmagnet&dn=Russian%20Open%20Speech%20To%20Text%20(STT%2FASR)%20Dataset%20%5B100%2C%2016000000%5D

[2020-04-14 14:10] snakers4 commented on #12
academic torrents is back up
so no worries

[2020-04-19 11:21] johnnych7027 commented on #5
Hi! What datasets have speaker labels?
Is there any information in which release the speaker labels will be?
Thanks a lot!

[2020-04-19 14:21] Advencher commented on #12
@32r81b а где взять файл public_exclude_file_v5.csv ? его нет в торренте

[2020-04-19 14:21] Advencher commented on #12
@32r81b спасибо за ответ

[2020-05-04 07:15] snakers4 commented on #12
он лежит в тикетах

[2020-05-04 07:21] snakers4 commented on #12
New release https://github.com/snakers4/open_stt/releases/tag/v1.01

[2020-05-05 05:22] snakers4 commented on #12
New release https://github.com/snakers4/open_stt/releases/tag/v1.02

[2020-05-09 05:39] snakers4 commented on #12
A few announcements

- wav torrent to be deprecated shortly please switch to opus
- opus reader helpers and build instructions available
- there was a surge in using some legacy links - all of them will be permanently disabled shortly

[2020-05-22 12:53] vcjob opened #29 "No seeders on the torrent file!"
Hello everyone!

Can't download the torrent with the ds. Would anyone mind to start seeding it, please?

Thank you!!

[2020-05-22 12:55] snakers4 commented on #29
Which torrent?

For the actual one - there are seeders

![image](https://user-images.githubusercontent.com/12515440/82669746-a77e4180-9c44-11ea-9a21-76ba467ea7c5.png)

[2020-05-23 12:51] #29 closed, assigned to nobody

[2020-06-21 12:42] kouohhashi opened #30 "What does alignment mean in annotation ?"
Hi, I have a question.
What does alignment mean in annotation ?
Is this a kind of automatic algorithm based annotations?

[2020-06-21 13:08] snakers4 commented on #30
Original text files and corresponding audios were "long".
They were cut into small time-aligned chunks.

[2020-06-22 18:38] #30 closed, assigned to nobody

[2020-07-29 17:53] samarth12 opened #31 "Any more information about the structure of the folder"
I have been looking at some smaller datasets that are available for example `public_youtube700_val` and `public_lecture_1`. I would like to learn more about what the structure of the folder means.

For the `public_youtube700_val` I see folders from `0-9` and `a-f` with several subfolders. What do these numbers mean? Are all the audio files from each of these top-level root folders from a different

[2020-07-29 19:36] snakers4 commented on #31
Hi!

This is what you are looking for
https://github.com/snakers4/open_stt#on-disk-db-methodology

[2020-07-29 19:36] #31 closed, assigned to nobody

[2020-07-29 21:00] samarth12 commented on #31
Hi, @snakers4 thanks for getting back to me. But I do not understand what this script you pointed me to does? I am not sure how to run that code chunk either, what is `wav`?

If I only want to use the transcripts, I guess my question is - in case I need to use the `public_youtube700_val` how should I combine the contents of the folders and more importantly what can be considered as a single file/v

[2020-07-30 04:52] snakers4 commented on #31
Calculates a path of a given file

Wav is a file format
Hashes were calculated for wav files before conveting to opus

We opted not to provide such information.

No

[2020-08-01 17:55] Alex-Kopylov opened #32 "Can't download dataset"
Hi. I'm trying to download dataset on my PC via _download.sh_

Error "404: The specified blob does not exist.."

Python way is also broken and nobody seed the torrent.

[2020-08-01 23:22] snakers4 commented on #32
Hi,

I checked a couple of direct links, they seem to be working

Which blob exactly is missing?

Also checked my torrent client, for some reason it was paused
Now it's up
![image](https://user-images.githubusercontent.com/12515440/89112099-e6abe880-d466-11ea-992e-9689bf852b67.png)

[2020-08-02 11:37] Alex-Kopylov commented on #32
Yea. They work indeed. I've tried download only via .sh and .py files.

**md5sum.log**
archives/asr_calls_2_val.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_phone_calls_1.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_phone_calls_2.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_stories_1.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_stories_2.tar.

[2020-08-02 11:39] Alex-Kopylov commented on #32
Yea. They work indeed. I've tried download only via .sh and .py files.

**md5sum.log**

archives/asr_calls_2_val.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_phone_calls_1.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_phone_calls_2.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_stories_1.tar.gz: ОШИБКА при открытии или чтении
archives/asr_public_stories_2.tar

[2020-08-03 02:07] #32 closed, assigned to nobody

[2020-08-26 11:03] tdtce commented on #32
Hello!

Could you start your torrent client or downloading via torrent is no longer available?

[2020-08-26 11:12] snakers4 commented on #32
Looks like the torrent is up
But the tracker is down
![image](https://user-images.githubusercontent.com/12515440/91296967-2cc64480-e7a6-11ea-8c8b-f9503a04b3eb.png)

You can always download via direct links from azure
I will contact academictorrents

[2020-08-26 11:22] tdtce commented on #32
Thanks!

[2020-08-27 05:52] snakers4 commented on #32
I contacted the tracker's admins.
We resolved the problem.
Last time I saw it, it was seeding 5-10 megabytes per second.

[2020-08-27 05:54] snakers4 commented on #12
A few announcements

- Academic torrents moved to a new infrastructure
- Please seed if you have downloaded the torrent
- Microsoft is not sharing the download (or any whatsoever) statistics regarding their hosting - please leave any form of feedback on their direct links

[2020-08-27 17:05] tdtce commented on #32
Yes! tracker works with nice speed. Thanks for the quick response!

[2020-09-22 10:03] KoldunAmba opened #33 "Не могу скачать файл"
Пытаюсь скачать датасет через aria2c, но нет сидов уже несколько дней. Может кто-нибудь на раздачу встать или подсказать в чем ещё может быть проблема, если сиды всё-таки есть?

[2020-09-22 10:31] snakers4 commented on #33
![image](https://user-images.githubusercontent.com/12515440/93871759-cdd9e980-fcd7-11ea-8f90-74dcabff030f.png)

fixed
please use direct links as a backup

[2020-09-22 10:31] #33 closed, assigned to nobody

[2020-09-22 17:15] snakers4 commented on #33
had to play with settings a bit more

PS
it is kind of cringe that 17 people who have downloaded did not even considered seeding

[2020-09-23 07:50] snakers4 opened #34 "Torrent announcement"
Still struggling to find a headless client for Ubuntu 20 that would work w/o crashing
Testing aria2c for seeding now as it performed so well for downloading

[2020-09-23 08:36] snakers4 commented on #34
![image](https://user-images.githubusercontent.com/12515440/93987647-7ba8cf00-fd90-11ea-972d-970f6226e104.png)

looks like aria2c works almost properly
there is some weird issues with checksums
ideally I need to re-create and re-publish torrent (maybe with aria2c?)
but I think I will do it later, I spent already too much time trying all of the torrent clients, that for some reason crash for new sy

[2020-09-23 08:36] snakers4 commented on #33
https://github.com/snakers4/open_stt/issues/34

[2020-09-23 08:37] snakers4 commented on #12
Managed to fix seeding issues with new server OS version

https://github.com/snakers4/open_stt/issues/34

[2020-09-23 08:39] snakers4 commented on #5
We decided not to update and / or maintain these for reasons.

[2020-09-23 08:39] #5 closed, assigned to snakers4

[2020-09-23 08:41] snakers4 commented on #34
I really would appreciate if anyone would seed as well

[2021-02-09 07:52] stllfe opened #37 "В private_buriy_audiobooks_2 нет буквы ё, а в private_buriy_audiobooks_2_val есть"
Я не могу, конечно, назвать это критическим моментом, но мне кажется, такая особенность данных должна быть отражена где-то в описаниях к датасетам. Если есть возможность, было бы супер получить обучающий датасет с буквой ё.

[2021-02-09 07:54] snakers4 commented on #37
Считаем по дефолту, что буквы `ё` нигде нет.

[2021-02-09 07:56] stllfe commented on #37
Окей, спасибо. Если добавите в описания где-нибудь, невнимательным людям сэкономите часик другой на дебаге и препроцессинге :)

[2021-02-09 07:58] snakers4 commented on #37
ок

[2021-02-09 07:58] #37 closed, assigned to nobody

[2021-06-04 16:24] snakers4 commented on #12
## **Update 2021-06-04**

Added Zenodo direct link mirrors as well.

[2021-06-04 16:25] snakers4 commented on #12
Azure links were reported to be very slow

[2021-10-04 20:14] fancat-programer opened #38 "Сколько говорящих в данном датасете?"

[2021-10-05 03:25] snakers4 commented on #38
Десятки тысяч, точнее сложно сказать

[2021-10-05 15:08] fancat-programer commented on #38
Спасибо.

[2021-10-05 15:08] #38 closed, assigned to nobody

[2021-10-05 17:02] fancat-programer opened #39 "Does the dataset contain the speaker's IDs?"

[2021-10-05 17:23] snakers4 commented on #39
In the current state it does not
We used to have them, but they were too low quality

[2021-10-05 17:24] fancat-programer commented on #39
Too bad, I want to train a speaker classification network on this dataset.

[2021-10-05 17:56] fancat-programer commented on #39
Are there repeating voices?

[2021-10-06 02:48] snakers4 commented on #39
Yes, quite many

[2021-10-08 18:52] fancat-programer opened #40 "How was this dataset assembled?"

[2021-10-08 19:16] #39 closed, assigned to nobody

[2021-10-09 06:31] snakers4 commented on #40
It is covered here https://github.com/snakers4/open_stt/#links

[2021-10-09 06:31] #40 closed, assigned to nobody

[2021-11-11 11:07] snakers4 commented on #34
incorrect port during torrent seeding - fixed

[2021-12-21 11:21] Elvares opened #41 "Download error"
I tried to download datasets. I launched download.py but got this
"urllib.error.HTTPError: HTTP Error 404: The specified blob does not exist."
How does fix it?

[2021-12-21 11:22] snakers4 commented on #41
We have not checked the `download.py` for quite some time.
With which URL is there an error?

[2021-12-21 12:30] Elvares commented on #41
this url = "https://azureopendatastorage.blob.core.windows.net/openstt/ru_open_stt_opus/" uses in download.py

[2021-12-21 13:11] snakers4 commented on #41
This is a base url to which paths are supposed to be appended

[2021-12-22 06:52] snakers4 commented on #41
I checked the URLs and mirror URLs - they were working
If the download scripts are obsolete - the PRs appreciated to fix them, they were auxiliary in any case
Also torrent downloads are an option

[2021-12-22 06:52] #41 closed, assigned to nobody

[2022-01-11 21:29] Elvares opened #42 "Проблема с торрентом"
При запуске торрента через utorrent пишет, что "невозможно загрузить название_торрента неподдерживаемый размер части (1.0 Гб)". При запуске торрента через transmission торрент не добавляется в список загрузок.

[2022-01-12 04:59] snakers4 commented on #42
Используйте aria2c - https://github.com/snakers4/open_stt/#via-torrent

С другими клиентами были проблемы, кроме qbit, но с ним они тоже появлялись
Все эти клиенты оферфитнуты для скачивания кино, очевидно

[2022-01-12 04:59] #42 closed, assigned to nobody

[2022-01-20 14:50] II245 opened #43 "Opus files are not opus theirs vorbis"
Hello!
I found a contradiction.
Seems like some/all of your audios encoded in ogg/vorbis stream instead of ogg/opus.

file from public_lecture_1/0/00
[code]
*Audio: vorbis*

Real opus should look like that:
[code]
*Audio: opus*

Is it a bug? Or maybe I misunderstand something?

Thanks for reply!

[2022-01-20 15:10] snakers4 commented on #43
Looks like a bug.
Opus file writing is a bit flaky (and maybe we had some failsafe mechanisms if it failed to write on vorbis).

Does the file read ok though?

[2022-01-20 18:01] II245 commented on #43
Yes, file reading is ok.

[2022-01-20 18:07] snakers4 commented on #43
Well, it is unlikely that we will be fixing this, so let it be if the file reads.

[2022-01-20 18:07] #43 closed, assigned to nobody

[2022-02-03 08:08] cjw414 opened #44 "question of re-sampling"
First of all, thanks for the great project!
the documentation says there were resampled to 16k if needed

were there any up-sampling??
for example, 8k -> 16k

if so, can I get the list of upsampled corpora??

[2022-02-03 08:15] snakers4 commented on #44
To be honest it was quite a long time ago, but most data was down-sampled from 16k+ or obtained from other compressed formats that may not necessarily focus on sampling rate. Much less data was up-sampled.